<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.police.momo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="登录系统"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="公安笔录"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".query.QueryActivity"
            android:label="询问"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".newask.EmptyQueryActivity"
            android:label="新建"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".newask.NewDetailActivity"
            android:label=""
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".setting.SettingActivity"
            android:label="设置"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".setting.AboutActivity"
            android:label="关于"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".query.BasicInfoActivity"
            android:label="询问"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".query.QueryListActivity"
            android:label="询问"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".query.AnswerListActivity"
            android:label="询问"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".query.BasicQueryActivity"
            android:label="基本询问"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".query.EditQuestionActivity"
            android:label="询问"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="portrait"/>

        <activity
            android:name="org.vudroid.pdfdroid.PdfViewerActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>


        <!-- ======================================================================= -->
        <!-- 友盟sdk配置 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:label="用户反馈"
            android:logo="@mipmap/ic_launcher"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561a5c3967e58e911d006b11"></meta-data>
        <!-- ================================================================== -->
    </application>

</manifest>
